.header{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    z-index:100;
    background-color: #fff;
}

.header__heading{
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 3rem;
}

.header__heading-text{
    color: #000;
    text-decoration: none;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__nav-item{
    margin: 0.5rem;
}


.header__nav-link{
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.header__nav-link:hover{
    color: #024E82;
}
.header__nav-link:active{
    color: #024E82;
}

.header__nav--secondary{
    margin-right: 3rem;
}

.header__nav-link img{
    height: 1.25rem;
    width: 1.25rem;
}