.hero{
    height: 40rem;
    margin-top: 1rem;
}

.hero__content{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15rem 0rem 0 45rem;
    text-align: center;
}

.hero__button{
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: 3px solid white;
    color: white;
    background: none;
    margin-top: 2rem;
}