.not-found {
    margin: 2rem;
}

.not-found__image-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.not-found__image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.not-found__button {
    position: absolute;
    top: 28rem;
    left: 4rem;
    background-color: #FF4F5B;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 2rem;
    border-radius: 0.5rem;
}
