.home-page__new-arrivals {
    margin: 2rem;
    text-align: center;
}

.home-page__new-arrivals-title {
    font-size: 2.5em;
    margin-bottom: 0.75rem;
    color: #1D1D1D;
}

.home-page__new-arrivals-subtitle {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
    font-weight: 100;
    color: #1D1D1D;
}

.home-page__product-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-page__product{
    text-decoration: none;
}

.home-page__product-item {
    height: 21rem;
    width: 13rem;
    margin: 2rem;
      /* border: 1px solid black; */
}

.home-page__product-image {
   height: 16rem;
   width: 100%;
   /* object-fit: contain; */
   margin-bottom: 0.5rem;
}

.home-page__product-name {
    font-size: 1.2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: #1D1D1D;
}

.home-page__product-price {
    font-size: 1.2rem;
    color: #024E82;
}

.home-page__info-section{
    display: flex;
    justify-content: space-evenly;
}

.home-page__info-item{
    /* border: 1px solid black; */
    width: 17rem;
    height: 8rem;
    display: flex;
    align-items: center;
}

.home-page__info-left{
    color: #333;
}

.home-page__info-icon{
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

.home-page__info-right{
    display: flex;
    flex-direction: column;
}

.home-page__info-title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #024E82;
}

.home-page__info-description{
    font-size: 0.9rem;
    font-weight: 100;
}

